* {
  margin: 0%;
  padding: 0%;
}
.Services {
  padding: 30px;
}
.card {
  flex: 0 0 calc(33.33% - 20px);
  margin: 10px;
  position: relative;
  overflow: hidden;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 50px;
}

.overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  overflow: hidden;
  backdrop-filter: blur(5px) brightness(50%);
  transition: all 0.3s ease-in-out;
}

.card:hover .overlay {
  bottom: 0;
  height: 100%;
}

.overlay-content {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  text-align: center;
  width: 100%;
}

.overlay h3 {
  margin: 0;
  color: #fff;
}

.learn-more-btn {
  display: block;
  width: 50%;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #3498db;
  border: none;
  border-radius: 4px;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.learn-more-btn:hover {
  background-color: #2980b9;
}

.text {
  padding: 40px;
  text-align: center;
}
.text h1 {
  color: darkblue;
  font-size: 3rem;
}
.text p {
  color: rgb(28, 180, 240);
  font-size: 1.1rem;
}
@media (max-width: 767px) {
  .text p {
    color: rgb(28, 180, 240);
    font-size: 14px;
    padding: none;
  }
  .Services {
    padding: 10px;
  }
}